<html>
  <head>
    <title>Presentación de SASS</title>
  </head>

  <body>

    <div id="contenedor">

      <div id="cabecera">
        <h1>SASS</h1>
        <h2>Syntactically Awesome Style Sheets</h2>
      </div>

      <div id="menu">
        <a href="/" method="GET"><button class="btn btn-success">Inicio</button></a>
        <a href="/ejemplos/ejemplo1" method="GET"><button class="btn btn-success">Ejemplo 1</button></a>
        <a href="/ejemplos/ejemplo2" method="GET"><button class="btn btn-success">Ejemplo 2</button></a>
        <a href="/ejemplos/ejemplo3" method="GET"><button class="btn btn-success">Ejemplo 3</button></a>
        <a href="/ejemplos/ejemplo4" method="GET"><button class="btn btn-success">Ejemplo 4</button></a>
      </div>

      <div id="contenido">
        <%= yield %>
      </div>

      <div id="pie">
        Jonay Suárez Armas | alu0100600674
      </div>

    </div>

  </body>
</html>
