<html>
  <head>
    <title>Presentación de SASS</title>
  </head>

  <body>

    <div id="contenedor">

      <div id="cabecera">
        <h1>SASS</h1>
        <h2>Syntactically Awesome Style Sheets</h2>
      </div>

      <div id="menu">
        <button class="btn btn-success" href="/" method="GET">Inicio</button>
        <button class="btn btn-success" href="/ejemplos/ejemplo1" method="GET">Ejemplo 1</button>
        <button class="btn btn-success" href="/ejemplos/ejemplo2">Ejemplo 2</button>
        <button class="btn btn-success" href="/ejemplos/ejemplo3">Ejemplo 3</button>
        <button class="btn btn-success" href="/ejemplos/ejemplo4">Ejemplo 4</button>
      </div>

      <div id="contenido">
        <%= yield %>
      </div>

      <div id="pie">
        Jonay Suárez Armas | alu0100600674
      </div>

    </div>

  </body>
</html>
