<html>
  <head>
    <title>Presentación de SASS</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>

  <body>

    <div id="contenedor">

      <div id="cabecera" class="centrar">
        <h1>SASS</h1>
        <h2>Syntactically Awesome Style Sheets</h2>
      </div>

      <!-- <div id="menu">
        <a href="/" method="GET"><button class="btn btn-success">Inicio</button></a>
        <a href="/ejemplos/ejemplo1" method="GET"><button class="btn btn-success">Ejemplo 1</button></a>
        <a href="/ejemplos/ejemplo2" method="GET"><button class="btn btn-success">Ejemplo 2</button></a>
        <a href="/ejemplos/ejemplo3" method="GET"><button class="btn btn-success">Ejemplo 3</button></a>
        <a href="/ejemplos/ejemplo4" method="GET"><button class="btn btn-success">Ejemplo 4</button></a>
      </div> -->

      <div id="contenido">
        <%= yield %>
      </div>

      <div id="ejemplos">
        <div id="comentarios" class="cuadro1">
          <h3>Comentarios</h3>
          <img src="images/comentario1.png" />
          <br>
          <br>
          <img src="images/comentario2.png" />
        </div>

        <div id="variables" class="cuadro">
          <h3>Variables</h3>
          <img src="images/variables.png" />
        </div>

        <div id="anidacion" class="cuadro2">
          <h3>Anidación</h3>
          <img src="images/anidacion.png" />
        </div>

        <div id="importacion" class="cuadro">
          <h3>Importación</h3>
          <img src="images/importacion.png" />
        </div>

        <div id="parciales" class="cuadro1">
          <h3>Parciales</h3>
          <img src="images/partials1.png" />
          <br>
          <br>
          <img src="images/partials2.png" />
          <br>
          <br>
          <img src="images/partialsT.png" />
        </div>

        <div id="mixins" class="cuadro">
          <h3>Mixins</h3>
          <img src="images/mixin.png" />
        </div>

        <div id="operadores" class="cuadro2">
          <h3>Operadores</h3>
          <img src="images/operadores.png" />
          <br>
          <br>
          <img src="images/mixin_op.png" />
        </div>

        <div id="herencia" class="cuadro">
          <h3>Herencia</h3>
          <img src="images/herencia.png" />
        </div>
      </div>

      <div id="pie" class="centrar">
        <br>
        Jonay Suárez Armas | alu0100600674@ull.edu.es
        <br>
        Sistemas y Tecnologías Web | Grado en Ingeniería Informática | ETSII | ULL
      </div>

    </div>

  </body>
</html>
